html,body{
	width: 100%;
	height: 100%;
}

#app,#app .el-container{
	height: 100%;
}
.el-aside{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexd-height{
	height: 60px;
}
/* horizontal  Vertical */
.is-center-parent{
	position: relative;
}
.is-center-child{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.el-mssage-info-step-move{
	transition: top .1s;
}
