html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#app,#app .el-container{
	height: 100%;
}
.aside{
	/* display: flex;
	justify-content: center;
	align-items: center; */
	width: 200px;
	border-right:1px #000000 solid;
	overflow: hidden;
}
.aside>div{
	overflow: auto;
	overflow-x: hidden;
}
.flexd-height{
	height: 60px;
}
/* horizontal  Vertical */
.is-center-parent{
	position: relative;
}
.is-center-child{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.el-mssage-info-step-move{
	transition: top .1s;
}
.el-menu-transform{
	transition: all 3s;
}
.el-submenu-transform{
	transition: all 1s;
}
.arrow-roll-begin{
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin:auto;
	transform: rotate(90deg);
	transition: transform .3s;
}

.arrow-roll-click{
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin:auto;
	transform: rotate(0);
	transition: transform .3s;
}

.navMenu ul>li>div{
	padding-left: 20px;
}
